.card {
  $card: &;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    #{$card}__profile {
      display: flex;
      align-items: center;
      margin-top: 10px;
      gap: 20px;
      border: 1px solid var(--gray-extra-light);
      border-radius: 10px;
      padding: 5px;
      color: var(--gray-light);
    }

    #{$card}__subtitle {
      color: var(--gray-regular);
    }
  }
}

.markdown {
  overflow: hidden;

  * {
    padding-right: 10px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}