.issues-list {
  &__spin {
    display: block;
    margin: 0 auto;
  }

  &__pagination {


    .ant-pagination-item {
      &-link {
        color: var(--gray-light) !important;
      }

      a {
        color: var(--gray-extra-light) !important;

      }

      &-active {
        background-color: var(--gray-regular);
      }
    }
  }
}