.issue-item {
  display: flex !important;
  border-block-end: var(--border-block) !important;
  margin-bottom: 10px !important;

  &__status {
    margin-right: 20px;
  }

  &__title, &__desc {
    display: block;

    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    color: var(--gray-extra-light);
    width: 100%;
  }

  &__desc {
    color: var(--gray-light);
    width: 50%;
  }
}