.logo {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    margin-left: 12px;
    font-size: 40px;
    font-weight: var(--font-black);

    &--left {
      color: var(--blue);
    }

    &--right {
      color: var(--purple-dark)
    }
  }
}