.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;

  &__header {
    height: 200px;
    background-color: var(--gray-bold);
  }

  &__body {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
  }
}