.button {
  text-decoration: none;
  background-color: var(--blue-dark);
  color: var(--gray-thin);
  font-size: 14px;
  font-weight: var(--font-bold);
  min-width: 90px;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 16px;
  transition: background-color .1s linear;
  border-radius: 8px;

  &.active {
    background-color: var(--blue-dark-active);
    pointer-events: none;
  }

  &:hover {
    background-color: var(--blue-dark-hover);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--blue-dark-disabled);
  }

  &:active {
    background-color: var(--blue-dark-active);
  }
}