.log-item {
  display: flex !important;
  border-block-end: var(--border-block) !important;
  margin-bottom: 10px !important;
  gap: 20px !important;

  span {
    color: var(--gray-extra-light);
  }
}